body {
    margin: 0;
}

.navbar{
    height: 60px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.center {
    align-self: center;
    text-align: center;
}

.right {
    align-self: right;
    text-align: right;
}

#navbar-container {
    width: 100%;
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}