<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class='container'>
        <!-- centered vertical and horizontal -->
        <div class='center'>
            <div id='menu'>
                <span><a>Log in</a></span>
                <span><a>Register</a></span>
            </div>
            <form action='login' method='POST'>
                <input type='text' name='email' id='email' placeholder='email'/>
                <input type='password' name='password' id='password' placeholder='password'/>
                <input type='submit' name='submit'/>
            </form>
        </div>
    </div>

<!--
<script src="node_modules/bcryptjs/dist/bcrypt.min.js"></script>

<script>
    var menu = document.getElementById('menu');
    var login_submit = document.getElementById('login');
    var register = menu.children[1].children[0];
    var login = menu.children[0].children[0];

    register.onclick = function(){
        window.location.href = '/register';
    }

    login.onclick = function(){
        window.location.href = '/login';
    }

    login_submit.onclick = function(){
        //send ajax request
        var username = document.getElementsByTagName('input')[0].value;
        var password = document.getElementsByTagName('input')[1].value;

        //get salt from server
        var salt = '';
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/salt?username='+username,false);
        xhr.onreadystatechange = function(){
            if(xhr.readyState == 4 && xhr.status == 200){
                salt = xhr.responseText;
                //hash password
                var hash = bcrypt.hashSync(password,salt);
                //send ajax request
                var xhr = new XMLHttpRequest();
                xhr.open('GET','/login?username='+username+'&password='+hash,false);
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4 && xhr.status == 200){
                        if(xhr.responseText == 'success'){
                            window.location.href = '/home';
                        }
                    } else if(xhr.readyState == 4 && xhr.status != 200){
                        alert('Wrong username or password');
                    }
                }
            } else if(xhr.readyState == 4 && xhr.status != 200){
                alert('Error: '+xhr.status);
            }
        }
        xhr.send();
    }

</script>
-->
</body>
</html>
