<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class='container'>
        <!-- centered vertical and horizontal -->
        <div class='center'>
            <div id='menu'>
                <span><a>Log in</a></span>
                <span><a>Register</a></span>
            </div>
            <input type='text' name='email' id='email' placeholder='email'/><br/>
            <input type='password' name='password' id='password' placeholder='password'/><br/>
            <input type='submit' id="login" name='submit'/>
        </div>
    </div>


<!--<script src="static/js/dist/bcrypt.min.js"></script>--><script src="
https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js
"></script>

<script>
    var menu = document.getElementById('menu');
    var login_submit = document.getElementById('login');
    var register = menu.children[1].children[0];
    var login = menu.children[0].children[0];

    register.onclick = function(){
        window.location.href = '/register';
    }

    login.onclick = function(){
        window.location.href = '/login';
    }

    login_submit.onclick = function(){
        //send ajax request
        var username = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        //get salt from server
        var salt = '';
        var xhr = new XMLHttpRequest();
        xhr.open('GET','/salt?username='+username,false);
        xhr.onreadystatechange = function(){
            if(xhr?.readyState == 4 && xhr.status == 200){
                salt = xhr.responseText;
                //hash password
                var hash = dcodeIO.bcrypt.hashSync(password,salt);
                //send ajax request
                var rq = new XMLHttpRequest();
                rq.open('GET','/login?username='+username+'&password='+hash,false);
                rq.onreadystatechange = function(){
                    if(rq?.readyState == 4 && rq.status == 200){
                        console.info("login success");
                    } else if(rq?.readyState == 4){
                        alert('Wrong username or password');
                    }
                }
                rq.send();
            } else if(xhr?.readyState == 4){
                alert('Error: '+xhr.status);
            }
        }
        xhr.send();
    }

</script>
</body>
</html>
