html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.center {
    display: inline-block;
    width: 25%;
    max-width: 500px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: #5b3131;
    border-radius: 25px;
}

#menu {
    display: inline-flexbox;
    margin: 10px;
    min-width: 0;
}

#menu > span {
    display: inline-flexbox;
    margin: 10px;
}

input {
    padding: 5px;
    max-width: fit-content;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
}